html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: clamp(1.2rem, 1.2vw, 1.8rem);
    font-family: $bodyfont;
    line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    font-family: $headingfont;
}

h3 {
    font-size: clamp(1.8rem, 1.6vw, 2rem);
}

.wrapper {
    width: 85%;
    max-width: 1250px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: #fff;

    &:hover {
        color: #EA593E;
    }
}

.btn {
    background: linear-gradient(to left, #68A691, #FDFA00); 
    border: none;
    padding: 7px 30px;
    font-size: 1.6rem;
    color: #321325;
    transition: all 1s; 
    font-weight: 600;

}