header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/unsplashChrisLawtonVHS.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

h1 {
    color: black;
    font-size: clamp(6.5rem, 7.5vw, 12rem);
    text-transform: uppercase;
}

.headerBox {
    background-color: #222;
    padding: 25px;
}

h2 {
    color: white;
    font-size: clamp(4rem, 3.5vw, 6rem);
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.dropdownContainer {
    align-self: flex-start;
    margin-bottom: 20px;
}

[type="submit"] {
    padding: 5px 30px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #222;
    color: #fff;
}

//changes
//moved submit button into dropdown container
//added a div behind header and selects
//aligned everything left in box and took out margin on selects
//styled footer

// to do
//Pick your poison h3
//cta styling on button
//h2 size smaller