// CSS Grouped by type where applicable
// Positioning
// Display
// Box model
// Color
// Text
// Other

/********Header landing page************/

//Background image and flex container
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;

	background: url('../assets/unsplashChrisLawtonVHS.jpg') no-repeat fixed center/cover;
}

h1 {
	margin-bottom: 20px;

	color: $logoColor;

	font-size: clamp(6.5rem, 7.5vw, 12rem);
	text-align: center;
	text-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black;
	text-transform: uppercase;
}

//Box behind select menus
.headerBox {
	border-radius: 2px;
	padding: 25px;
	box-shadow: 0px 8px 6px -6px $darkText;
	height: 10vh;
	min-height: 160px;

	background: rgba(34, 34, 34, 0.9);
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 999;
}

h2 {
	margin-top: -10px;
	color: $lightText;
	font-size: clamp(2.4rem, 1.8vw, 3.5rem);
	font-weight: 700;
}

//h3 over select menus
.selectHeader {
	color: $lightText;
	margin-top: 10px;
	text-transform: uppercase;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

//Select drop down menus
select {
	margin-right: 10px;
	padding: 7.5px 15px;
	width: 175px;

	font-size: 1.4rem;

	&:focus {
		outline: 1px solid $logoColor;
	}
}

//form submit button
[type='submit'] {
	padding: 7px 30px;
	width: 168px;
	font-size: 1.6rem;
}

/********Results Section************/

main {
	position: relative;
}

.mainResultsBox {
	min-height: auto;
}

.results {
	background: $resultBackground;
	color: $lightText;
	width: 100%;
	min-height: 775px;
}

//Flex container holding movie results
.recommendedMovie {
	display: flex;
	padding: 80px 0px;
}

//Movie details
.resultText {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	margin-left: 40px;
	min-width: 40%;
	width: 400px;

	h3 {
		text-transform: uppercase;
		font-weight: 700;
	}

	.resultLabel {
		font-weight: 700;
	}
}

.posterButtons {
	display: flex;
	flex-direction: column;
	align-items: center;

	//Movie Poster
	img {
		width: 300px;
		height: 100%;
		min-width: 30%;
		border: 1px solid $darkText;
		margin-bottom: 20px;
		box-shadow: 0px 8px 6px -6px $darkText;
	}

	.listBtn {
		margin-left: 5px;
	}

	.resultBtn {
		display: flex;
		margin-top: 30px;
	}
}

//Appended list section
.selectedMovies {
	background: url('../assets/wrinkledBrownPaper.jpg') no-repeat fixed center/cover;
	display: none;
	position: absolute;
	bottom: 200px;
	right: 5vw;
	width: 320px;
	height: auto;
	transform: rotate(2deg);
	box-shadow: 1px 1px 1px $darkText;
}

.listDisplay {
	// display: none;
	padding: 20px 10px;

	width: 320px;
	margin: 0px auto;
}

.listHeading {
	color: $darkText;
	text-transform: uppercase;
}

ul {
	display: flex;
	flex-wrap: wrap;

	li {
		padding-right: 10px;
		list-style-position: inside;
	}
}

/********Footer Section************/

footer {
	padding: 15px 0px;
	background: $footerBackground;
	color: $lightText;
}

.footerFlex {
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.creditsFlex {
	display: flex;
}
