@media (max-width: 1350px) {
	.selectedMovies {
		position: static;
		width: 100%;
		transform: rotate(0deg);
		padding: 20px;
	}
	.recommendedMovie {
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.recommendedMovie {
		flex-direction: column;

		.resultText {
			width: 100%;
			margin-left: 0px;
		}
	}

	.newMovieBtn {
		margin-right: 5px;
	}

	.listDisplay {
		width: 100%;
	}
}

@media (max-width: 605px) {
	.headerBox {
		position: static;
		text-align: center;
		min-height: 200px;
		height: auto;
	}

	.selectHeader {
		margin-bottom: 6px;
	}

	select {
		margin: 0px 0px 6px 0px;
	}

	.footerFlex {
		flex-direction: column;
		align-items: center;
	}
}

@media (hover: hover) {
	.btn:hover {
		background: lighten($button, 10);
		color: $logoColor;
	}
}
