//Colour variables
$button: #0081AF;
$logoColor: #f6da21;
$resultBackground: #253031;
$lightText: #EEF0F2;

// font variables
$headingfont: 'Freckle Face', cursive;
// $bodyfont: 'Roboto', sans-serif;
$bodyfont: 'Kumbh Sans', sans-serif;


@import "setup";
@import "general";
@import "main"; 
@import "mediaQueries";

